<div class="container-fluid text-center my-4">
    <div class="row justify-content-center">
    {# {% for fil in component.Filters %} #}
        <div class="col-5 col-sm-5 col-md-3 col-lg-1 my-1">
            <a class="btn fcta fs-4" href="/dev-usvffdv4wsree30i/%D8%AA%D9%8A%D8%B4%D8%B1%D8%AA%D8%A7%D8%AA/c1205091287">تيشرتات</a>
        </div>
        <div class="col-5 col-sm-5 col-md-3 col-lg-1 my-1">
            <a class="btn fcta fs-4" href="/dev-usvffdv4wsree30i/%D9%82%D9%85%D8%B5%D8%A7%D9%86-%D8%AB%D9%82%D9%8A%D9%84%D9%87/c1115905899">قمصان ثقيله</a>
        </div>
        <div class="col-5 col-sm-5 col-md-3 col-lg-1 my-1">
            <a class="btn fcta fs-4" href="/dev-usvffdv4wsree30i/%D8%A7%D9%84%D8%AC%D8%A7%D9%83%D9%8A%D8%AA%D8%A7%D8%AA/c1565589495">جاكيتات</a>
        </div>
        <div class="col-5 col-sm-5 col-md-3 col-lg-1 my-1">
            <a class="btn fcta fs-4" href="/dev-usvffdv4wsree30i/%D8%A7%D8%AD%D8%B0%D9%8A%D9%87/c1889939562">أحذية</a>
        </div>
    {# {% endfor %} #}
    </div>
</div>