<nav class="navbar navbar-expand-lg bg-light-subtle mt-4">
    <div class="container justify-content-between">
        <a class="navbar-brand me-5" href="#"><img src="{{component.LogoImage}}" style="border-radius: 5px;" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-1 collapse navbar-collapse" id="navbarSupportedContent"  style="position: relative;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown ms-2">
                    <button class="nav-link dropdown-toggle text-center bg-primary px-4 btn mt-1 hbtn text-light" id="dropdownMenuButton" style="border-radius: 2em;" aria-expanded="false">
                        All Catagories
                    </button>
                    <ul class="dropdown-menu text-center bg-primary mt-2" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">All Catagories</a></li>
                        {% for category in component.Catagories %}
                            <li><a class="dropdown-item" href="#">{{catagory}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item w-auto mt-5 mt-lg-0">
                    <form class="d-flex w-100 me-3 ms-lg-5 mt-1" role="search">
                        <input class="form-control w-100 mx-2 mt-1 sch" id="searchAny" style="border-radius: 2em;" type="search" placeholder="Search Anything" aria-label="Search">
                        <label for="searchAny"><i class="bi bi-search fs-4 me-3 mt-1"></i></label>
                        <button class="hbtn px-4">Help</button>
                        <div class="px-4 d-inline">
                            <span class="onhov"><i class="bi bi-person fs-4 px-1"></i>Account</span>
                        </div>
                        <div class="px-4 d-inline position-relative">
                            <span class="onhov"><i class="bi bi-handbag fs-4 px-1"></i>Shopping</span>
                            <div class="bg-primary rounded-5 text-light px-2 py-1" style="position: absolute;top: -65%;left: 25%;">16</div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>