<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 col-sm-8">
            <p class="mt-5" style="font-weight: bolder;">Yes!</p>
            <p class="text-primary" style="font-weight: bolder;">Send me exclusive offers, unique gift ideas, and personalized tips for shopping and selling on commerce</p>
            <div style="position: relative;">
                <div class="emailInputGroup">
                    <input type="text" required="" autocomplete="off">
                    <label for="name">Email</label>
                </div>
                <button class="cta" style="position: absolute;">
                    <span>Subscribe</span>
                    <svg width="15px" height="10px" viewBox="0 0 13 10">
                        <path d="M1,5 L11,5"></path>
                        <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>  
                </button>  
            </div>    
        </div>
    </div>
</div>