<div class="container my-5">
    <div class="row justify-content-between">

        {% for slide in component.slides %}
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card p-3 d-flex flex-row align-items-center justify-content-between shadow-sm"
                style="transition: box-shadow 0.3s;">
                <div class="card-body">
                    <h5 class="card-title text-primary fw-bold">{{ slide.title }}</h5>
                    <p class="card-text" style="width:60vh">{{ slide.description }}</p>
                </div>
                <img class="rounded-circle" src="{{slide.image}}" alt="Card image cap"
                style="width: 100px; height: 100px;">
            </div>
        </div>
        {% endfor %}
  </div>
</div>