<div class="catBody">
    <div class="categoriesContainer container-fluid">
        <div class="title catLinksTitle">اقسام</div>
        <div class="listProduct row justify-content-center align-items-center">
            <div class="col-10 col-md-5 col-lg-3">
                {# <a href="products.html#category=watches">
                    <div class="item">
                    <img src="./img/watch.png" alt="" width="120" height="150" />
                    <h2 class="mt-3">ساعات</h2>
                    </div>
                </a> #}
            
                <a href="/dev-usvffdv4wsree30i/%D8%AA%D9%8A%D8%B4%D8%B1%D8%AA%D8%A7%D8%AA/c1205091287" class="catLink categoryLink">
                    <div class="item d-grid categoryDiv">
                    <img src="{{ asset('images/Shirt.png') }}" style="justify-self:center" alt="" width="120" height="150" />
                    <h2 class="mt-3">تيشرتات</h2>
                    </div>
                </a>
            </div>
            <div class="col-10 col-md-5 col-lg-3">
                <a href="/dev-usvffdv4wsree30i/%D9%82%D9%85%D8%B5%D8%A7%D9%86-%D8%AB%D9%82%D9%8A%D9%84%D9%87/c1115905899" class="catLink categoryLink">
                    <div class="item d-grid categoryDiv">
                    <img src="{{ asset('images/Hoodie.png') }}" style="justify-self:center" alt="" width="120" height="150" />
                    <h2 class="mt-3">قمصان ثقيله</h2>
                    </div>
                </a>
            </div>
            <div class="col-10 col-md-5 col-lg-3">
                <a href="/dev-usvffdv4wsree30i/%D8%A7%D9%84%D8%AC%D8%A7%D9%83%D9%8A%D8%AA%D8%A7%D8%AA/c1565589495" class="catLink categoryLink">
                    <div class="item d-grid categoryDiv">
                    <img src="{{ asset('images/Jacket.png') }}" style="justify-self:center" alt="" width="120" height="150" />
                    <h2 class="mt-3">جاكيتات</h2>
                    </div>
                </a>
            </div>
            <div class="col-10 col-md-5 col-lg-3">
                <a href="/dev-usvffdv4wsree30i/%D8%A7%D8%AD%D8%B0%D9%8A%D9%87/c1889939562" class="catLink categoryLink">
                    <div class="item d-grid categoryDiv">
                    <img src="{{ asset('images/Shoe.png') }}" style="justify-self:center" alt="" width="120" height="150" />
                    <h2 class="mt-3">أحذية</h2>
                    </div>
                </a>
            </div>
                {# <a href="products.html#category=kids">
                    <div class="item">
                    <img src="./img/kid.png" alt="" width="120" height="150" />
                    <h2 class="mt-3">أطفال</h2>
                    </div>
                </a>
                <a href="products.html#category=skincare">
                    <div class="item">
                    <img src="./img/skincare.png" alt="" width="120" height="150" />
                    <h2 class="mt-3">عناية بالشرة</h2>
                    </div>
                </a>

                <a href="products.html#category=sale">
                    <div class="item">
                    <img src="./img/sale.png" alt="" width="120" height="150" />
                    <h2 class="mt-3">تخفيضات</h2>
                    </div>
                </a> #}
            </div>
        </div>
    </div>
</div>
