<div class="OFSBCBody">
    <div class="OFSBC" id="OFSBCID">
        <div class="OFSBCSidebarHeader" onclick="toggleSidebar()">
            <span style="font-size: 20px; margin: 20px">&#11182;</span>

            احصل على خصم %15
        </div>
        <div class="OFSBCSidebarContent">
            <h2>خصومات وعروض</h2>
            <h3>عيد الأضحى المبارك</h3>
            <p>خصم <span class="highlight">15%</span> إضافي</p>
            <p>الدفع عند الاستلام للطلبات <span class="highlight">75+</span> ر.س</p>
        </div>
    </div>
</div>
