{# <div class="offer-container">
    <div class="offer-marquee-container">
        <div class="offer-marquee">
            <h3>&#128293; عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;</h3>
            <h3>&#128293; عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;</h3>
            <h3>&#128293; عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;</h3>
            <h3>&#128293; عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;</h3>
            <h3>&#128293; عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;</h3>
            <h3>&#128293; عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;</h3>
            <h3>&#128293; عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;</h3>
            <h3>&#128293; عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;</h3>
        </div>
    </div>
</div> #}

<main class="offer-main">
    <div class="offer-container" style="--width: 100px; --height: 50px; --quantity: 1">
    <div class="offer-marquee-container">
        <div class="offer-marquee" style="--position: 1">
        <h3>
            &#128293; عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;&#128293;
            عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;&#128293; عروض
            مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293; &#128293; عروض مذهلة
            على كل منتجاتنا ل 5 نوفمبر &#128293; &#128293; عروض مذهلة على كل
            منتجاتنا ل 5 نوفمبر &#128293;
        </h3>
        </div>
    </div>
    </div>
</main>
