<div class="offer-container">
    <div class="offer-marquee-container">
        <div class="offer-marquee">
            <h3>&#128293; عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;</h3>
            <h3>&#128293; عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;</h3>
            <h3>&#128293; عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;</h3>
            <h3>&#128293; عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;</h3>
            <h3>&#128293; عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;</h3>
            <h3>&#128293; عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;</h3>
            <h3>&#128293; عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;</h3>
            <h3>&#128293; عروض مذهلة على كل منتجاتنا ل 5 نوفمبر &#128293;</h3>
        </div>
    </div>
</div>